@font-face {
  font-family: 'Palatino Linotype';
  src: url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.eot');
  src: url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.svg#Palatino Linotype')
      format('svg');
}

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.point {
  color: red;
}
.divHeader {
  padding: 4rem 5rem;
  height: 100vh;
  z-index: 20;
  transition: all 0.5s ease;
  overflow: hidden;
}

.description {
  font-size: 1.5vw;
}

.divHeader div p {
  font-family: 'Palatino Linotype';

  transition: all 0.5s ease;
}

.big {
  font-weight: bold;
  font-size: 8vw;
  line-height: 100%;
  color: #f7efd2;
  text-shadow: 10px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #fff, -1px 1px #000;
}

.absolute {
  position: absolute;
  top: 60px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
}

.site-title {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Palatino Linotype';
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

nav a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}

nav li.active a {
  border-bottom: 2px solid;
  font-weight: bold;
}

nav li:hover {
  color: black;
}

nav li:hover a {
  border-bottom: 2px solid;
  color: black;
}

.section {
  height: 100vh;
}

@media screen and (max-width: 695px) {
  .divHeader {
    padding: 2rem;
  }
  nav {
    flex-direction: column;
    padding: 0 3rem;
  }

  nav ul {
    gap: 2rem;
    padding-top: 20px;
    justify-content: center;
  }

  .site-title {
    text-align: center;
    justify-content: center;
  }

  .big {
    font-weight: bold;
    font-size: 20vw;
    line-height: 100%;
    margin-bottom: 50px;
  }

  .description {
    font-size: 4vw;
  }

  .absolute {
    position: absolute;
    top: 20px;
    width: 100%;
  }
}
