@font-face {
  font-family: 'Palatino Linotype';
  src: url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.eot');
  src: url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/6a0482275e06b01d85575eb3b9894566.svg#Palatino Linotype')
      format('svg');
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body{
  font-family: 'Rowdies', cursive;
}

h1{
  margin: 0;
}
h3{
  border-bottom: #000 1px solid;
}
.point {
  color: red;
}
.divHeader {
  padding: 4rem 5rem;
  height: 100vh;
  z-index: 20;
  transition: all 0.5s ease;
  overflow: hidden;
}

.description {
  font-size: 1.5vw;
}

.divHeader div p {
  font-family: 'Palatino Linotype';

  transition: all 0.5s ease;
}

.big {
  font-weight: bold;
  font-size: 3.5vw;
  line-height: 100%;
  z-index: 800;
  color: #f7efd2;
  text-shadow: 6px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #fff, -1px 1px #000;
}

.image{
  background-image: url('./images/im.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: bottom;
  background-color: #F0E4D7;
  height:100%;
  width:650px;
  transform: rotate(2deg);
  transition: all 0.5s ease
}

.absolute {
  position: absolute;
  top: 60px;
  width: 100%;
  background-color: #f7efd2;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
}

.site-title {
  text-decoration: none;
  font-size: 2rem;
  font-family: 'Palatino Linotype';
}

.site-title:hover{
  color: black;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-family: 'Merriweather';
}

nav a {
  color: black;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}

.nav-link .active{
  border-bottom: 2px solid;
  font-weight: bold;
}


nav li:hover {
  color: black;
}

nav li:hover a {
  border-bottom: 2px solid;
  color: black;
}

.divTexte{
  height: 80%;
}

.section {
  height: 100vh;
}

footer {
  padding: 4rem 5rem;
  min-height: 20vh;
  background-color: black;
}

.footer-title {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Palatino Linotype';
  color: white;
}

footer ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin-top: 20px;
}

footer ul li {
  list-style: none;
  border-bottom: 1px solid rgb(148, 148, 148);
}

footer ul li:hover {
  border-bottom: 1px solid white;
}

footer ul li a {
  text-decoration: none;
  color: rgb(148, 148, 148);
}

footer ul li:hover a {
  color: white;
}

.section {
  background-color:black;
  background-size: cover;
  background-position: center;
  
  height: 25vh;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.section div{
  height: 20vh;
  width: 70%;
  
  border-radius: 10px;
  font-family: 'Palatino Linotype';
  display: flex;
  justify-content: center;
  align-items: center;
}

.section div span{
  font-size: 4vw;
  font-weight: bold;
  color: white;
}

.divTexte > div p{
  font-family: 'Merriweather';
}

.section1 {
  background-image: url('./images/ordi2.jpg');
  background-color: #68a498;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  
}


.section1 > div{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  padding-left: 10px;
}

.projet-number{
  font-size: 200px;
  color: black;
  text-shadow: 6px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #000, -1px 1px #fff;
}

.projet-info>p{
  font-family: 'Merriweather';
  font-size: 30px;
}

.section2 {
  background-image: url('./images/ordi1.jpg');
  background-color: #68a498;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  
}

.section2 > div{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;


}

.section3 {
  background-image: url('./images/ordi3.jpg');
  background-color: #68a498;
  height: 100vh;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

.section3 > div{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;

}

.moi{
  min-height: 70vh;
  background-color: #fcfcfc;
  padding: 100px 0 100px 0;
}

.contact{
  background-color: black;
  padding: 50px 0 0 80px;
}




@media screen and (max-width: 800px) {
  .divHeader {
    padding: 2rem;
    align-items: center;
  }

  .divHeader p{
    margin-top: 0;
  }
  nav {
    flex-direction: column;
    padding: 0 3rem;
  }

  nav ul {
    padding-top: 20px;
    justify-content: center;
  }

  .site-title {
    text-align: center;
    justify-content: center;
  }

  .big {
    font-weight: bold;
    font-size: 8vw;
    line-height: 100%;
    margin-bottom: 50px;
    transform: translateX(500px);
    text-shadow: 5px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #fff, -1px 1px #000;
  }

  .description {
    font-size: 4vw;
  }

  .absolute {
    position: absolute;
    top: 20px;
    width: 100%;
  }

  footer {
    padding: 4rem 2rem;
    min-height: 20vh;
    background-color: black;
  }

  footer ul {
    flex-direction: column;
    gap: 1.5rem;
    width: 30%;
  }

  .image{
    height: 50%;
    width: 200px;
  }

  .section1,.section2,.section3{
    background-position: center;
    background-size:contain;
    object-fit: fill;
  }

  .section2{
    background-image: url('./images/ordi1b.jpg');

  }

  .divTexte > div{
    flex-direction: column;
    justify-content: start;
  }

  .divTexte > div p{
    margin-top: 0 !important;
    font-family: 'Merriweather';
  }

  .contact{
    background-color: black;
    padding: 4rem 2rem;
  }
  .projet-number{
  font-size: 100px;

  }
.projet-info>p{
  font-family: 'Merriweather';
  font-size: 23px;
}
}
